.homepage nav {
  margin-bottom: 2rem;
  background-color: #364968;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav h2 span {
  color: rgb(162, 212, 82);
}
.home-list {
  list-style: none;
  display: flex;
}

.home-list > li {
  margin-right: 2rem;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: #fddf97;
  font-weight: bold;
}

.home-list a:hover {
  color: rgb(162, 212, 82);
}
